/* reset del css */
*{
    margin: 0px;
    padding: 0px;
}

/* instalamos la fuente */
@font-face {
    font-family: 'Jost', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,500;0,600;1,100&display=swap);
}

li a{
    list-style-type: none;
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    color: white;
}

header{
    background: rgb(174,192,238);
    background: linear-gradient(90deg, rgba(174,192,238,1) 0%, rgba(5,8,11,1) 70%);
    padding-bottom: 4px;
}

header img{
    width: auto;
    height: 100px;
}

body{
    background: rgb(55,58,62);
    background: radial-gradient(circle, rgba(55,58,62,1) 0%, rgba(42,67,97,1) 100%);
}

nav li{
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    padding: 7px;
}

h2{
    font-family: 'Jost', sans-serif;
    color: white;
    font-size: 27px;
    margin: 15px;
}

footer{
    font-family: 'Jost', sans-serif;
    color: white;
    background: rgb(131,132,133);
    background: radial-gradient(circle, rgba(131,132,133,1) 0%, rgba(42,67,97,1) 100%);
}