/* reset del css */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* instalamos la fuente */
@font-face {
    font-family: 'Jost', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,500;0,600;1,100&display=swap);
}

header img{
    height: 70px;
    transition: all .8s;
}

.menu_items li a{
    list-style-type: none;
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    color: white;
    margin: 20px;
    font-size: 20px;
    font-weight: bolder;  
    transition: all 1s;
}

.menu_items li a:hover {
    color: rgb(38, 133, 241);
}

/* tablet */
@media (min-width:768px) and (max-width:1200px){
    header img{
        max-height: 42px;
    }

    #imagenesDescriptivas div div img{
        width: 400px;
    }

    #video_iframe iframe{
        padding-right: 200px;
    }

    .menu_items li a{
        font-size: 16px;
    }
    
}

.menu_items{
    display: flex;
    list-style: none;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    color: white;
    background: rgb(131,132,133);
    background: radial-gradient(circle, rgb(115, 118, 119) 0%, rgba(5, 8, 11, 1) 100%);
    border: solid 3px rgb(0, 0, 0);
    grid-area: pie;
    width: 100vw;
}

/* movil */
@media (min-width:360px) and (max-width:767px){
    header{
        flex-direction: column;
        flex-wrap: wrap;
    }

    header img{
        height: 40px;
        max-width: 100%;
    }

    .menu_items li a{
        font-size: 10px;
        margin: 8px;
    }

    h2{ 
        font-size: 20px !important;
    }

    #imagenesDescriptivas div div img{
        width: 280px;
        padding: 20px;
    }

    #imagenesDescriptivas #uno{
        flex-direction: column;
        height: 250px;
    }
    #uno div{
        height: 220px;
    }
    #imagenesDescriptivas #dos{
        flex-direction: column;
        margin-top: 250px;
    }
    #dos div{
        height: 200px;
    }

    #dos #parrafo{
        order:2;
    }
    #dos #image_rotate{
        order:1;
    }

    #imagenesDescriptivas #tres{
        flex-direction: column;
        margin-top: 75px;
    }
    #tres div{
        height: 200px;
    }

    #extra #relevantImagen1{
        flex-direction: column;
    }

    #relevantImagen1 #cuatro{
        height: 250px;
    }

    #relevantImagen1 #cinco{
        height: 350px;
    }

    #extra #relevantImagen2{
        flex-direction: column;
    }

    #relevantImagen2 #video_iframe{
        order:1;
    }

    footer{
        flex-direction:column;
    }

    #logo_descrip{
        margin-left: 85px;
    }

    #explorar p{
        margin-left: 125px;
    }

    #redes p{
        margin-top: 10px;
    }

    #contenedor_footer{
        margin-left: 100px;
        margin-bottom: 30px;
    }

    #suscribirse div p{
        margin-left: 110px;
    }

    #suscribirse input{
        margin-left: 95px;
    }

    #suscribirse button{
        margin-left: 160px;
        margin-bottom: 13px;
    }

    #video_iframe{
        overflow: hidden;
        margin-right: 100px;
    }

}

h2{
    font-family: 'Jost', sans-serif;
    color: white;
    font-size: 27px;
    margin: 15px;
}


p{
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    color: white;
    padding: 100px;
}



header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: rgb(174,192,238);
    background: linear-gradient(90deg, rgb(125, 135, 163) 0%, rgba(5,8,11,1) 70%);
    padding-bottom: 4px;
    border: solid 3px rgb(0, 0, 0);
    grid-area: cabeza;
    width: 100vw;
}



body{
    background: rgb(10, 10, 10);
    overflow-x: hidden;
}

.imagenPrincipal{
    width: 100vw;
    grid-area: mainImg;
}

#seccionDeTres{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    grid-area: sec3Img;
    width: 100vw;
}

#seccionDeTres div img{
    width: 100%;
}

#seccionDeTres #sec1{
    transition: all 1.1s;
}

#seccionDeTres #sec1:hover{
    border-radius: 40px;
    border: #89F13D 3px solid;
    transform:translate(10px, 15px);

}

#seccionDeTres #sec2{
    transition: all 1.1s;
}                                                                                      

#seccionDeTres #sec2:hover{
    border-radius: 40px;
    border: #89F13D 3px solid;
    transform:translate(0px, 15px);
}

#seccionDeTres #sec3{
    transition: all 1.1s;
}

#seccionDeTres #sec3:hover{
    border-radius: 40px;
    border: #89F13D 3px solid;
    transform:translate(-10px, 15px);
}

#imagenesDescriptivas{
    display: flex;
    flex-direction: column;
    grid-area: descImg;
    width: 100vw;
}

#imagenesDescriptivas div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100vw;
}

#imagenesDescriptivas #imgdesc1{
    width: 500px;
    transition: all 3s;
}

#imagenesDescriptivas #imgdesc1:hover{
    width: 600px;
}

#imagenesDescriptivas #imgdesc2{
    width: 500px;
    transition: all 3s;
}

#imagenesDescriptivas #imgdesc2:hover{
    width: 600px;
}

#imagenesDescriptivas #imgdesc3{
    width: 500px;
    transition: all 3s;
}

#imagenesDescriptivas #imgdesc3:hover{
    width: 600px;
}

#imgextra{
    width: 600px;
    transition: all 1s;
}   

#imgextra:hover{
    border: #C70039 5px solid;
    transform:translate(15px, 0px);
}

#relevantImagen{
    width: 100vw;
}
#relevantImagen img{
    height: 100%;
}

#relevantImagen2{
    width: 100vw;
}

#relevantImagen2 div iframe{
    margin: 70px;
}

#extra{
    grid-area: extra;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    
}

iframe{
    padding: 25px;
    margin-right: 150px;
}

#extra div{
    display: flex;
    flex-direction: row;
    align-items: center;
}


#logo_descrip div img{
    max-width: 150px;
    margin: 15px;
    padding-top: 45px;
}

#explorar div p{
    padding: 12px;
}

#explorar div ul{
    list-style: none;
    line-height: 20px;
    font-size: 13px;
    text-align: center;
    padding-bottom: 25px;
}

#explorar div ul a{
    text-decoration: none;
    color: white;
    transition: all .7s;
}

#explorar div ul a:hover{
    color: rgb(38, 133, 241);
}

#redes div p{
    padding: 15px;
    text-align: center;
}

#redes div img{
    width: 50px;
    padding-top: 20px;
    transition: all .4s;
}

#redes div img:hover{
    width: 45px;
}

#contenedor_footer img{
    padding: 5px;
}

#suscribirse div p{
    padding: 15px;
}

#suscribirse button img{
    width: 34px;
    margin: 4px;
    margin-bottom: 1px;
}

button{
    margin-left: 50px;
    margin-top: 10px;
}

input{
    height: 35px;
}
.margenGeneral{
    margin: 40px;
}

.borde_redondo{
    border-radius: 100px;
}

.titulo{
    font-size: 60px;
    text-align: center;
}

#grilla{
    display: grid;
    grid-template-areas: 
    "cabeza cabeza cabeza"
    "mainImg mainImg mainImg"
    "sec3Img sec3Img csec3Img"
    "descImg descImg descImg"
    "extra extra extra"
    "pie pie pie";
    grid-template-rows: repeat(6 1fr);
    grid-template-columns: 1fr 1fr 1fr;
}